html {
  font-size: 14px;
}

:root {
  --header-bg: #FFC03D;
  --add-btn-color: #432344;
  --view-icon-color: #3887D0;
  --edit-icon-color: #FFB800;
  --delete-icon-color: #FF2020;
  --restore-icon-color: #939581;
}

body {
  background-color: #E7EEFB;
}

.nav-bg {
  background-color: #432344;
}

.main-container {
  display: flex;
  width: 100%;
  gap: 0.2rem;
}

.block-sidebar {
  min-width: 17rem;
  max-width: 17rem;
  flex-grow: 3;
  transition: margin-left 0.4s ease-out;
}

.sidebar {
  background-color: #432344;
  min-width: 17rem;
  max-width: 17rem;
  flex-grow: 3;
  transition: margin-left 0.4s ease-out;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
}

.sidebar-close {
  display: none;
  position: absolute;
  right: 10px;
  top: -2px;
  cursor: pointer;
}

#toggle-sidebar2 {
  display: none;
}

.scrollbar {
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.right-content {
  flex-grow: 8;
  position: relative;
}

.horizontal-line {
  width: 90%;
}

.sidebar-navigate {
  height: 50px;
  cursor: pointer;
}

.sidebar-navigate:active {
  opacity: 0.7;
}

.navigate-active {
  background-color: #FFC03D;
}

.logout-btn {
  height: 100%;
}

.sidebar-active {
  margin-left: -17.2rem;
}

.submenu-link {
  position: relative;
}

.submenu-active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.arrow3 {
  transition: transform 0.2s;
}

.arrow3.rotate3 {
  transform: rotate(-90deg);
}

.u-submenu {
  display: none;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #cacaca;
}


.officials-header,
.btn-warning,
.header-bg {
  background-color: var(--header-bg);
}

.btn-add {
  margin-top: -0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--add-btn-color);
  color: #FFFFFF;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #673a69;
  --bs-btn-disabled-border-color: #673a69;
  --bs-btn-hover-color: #FFFFFF;
  --bs-btn-hover-bg: #5a315c;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #713f74;
  --bs-btn-active-border-color: #713f74;
}

.modal-close-icon {
  cursor: pointer;
}

.officials-profile-table {
  /* width: 95%; */
}

.sorting-arrow {
  cursor: pointer;
}

.officials-photo {
  height: 2rem;
  width: 2rem;
}

.view-icon,
.edit-icon,
.delete-icon,
.restore-icon,
.search-icon {
  cursor: pointer;
}

.view-icon {
  color: var(--view-icon-color);
}

.edit-icon,
.search-icon {
  color: var(--edit-icon-color);
}

.delete-icon {
  color: var(--delete-icon-color);
}

.restore-icon {
  color: var(--restore-icon-color);
}

.view-image {
  height: 7rem;
  width: 7rem;
}

.delete-warning {
  color: var(--delete-icon-color);
}

.delete-btn {
  background-color: var(--delete-icon-color);
}

.card-container {
  background-color: var(--header-bg);
}

.card-counter {
  margin-bottom: -3rem;
}

.card-counter .card-icon {
  background-color: var(--add-btn-color);
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
}

.patient-container {
  height: 10rem;
  background-color: var(--header-bg);
}

.patient-details-container {
  margin-top: -8rem;
}

.print-report-btn,
.print-report-btn:hover,
.print-report-btn:active {
  background-color: var(--add-btn-color) !important;
  border-color: var(--add-btn-color) !important;
}

#online-survey:checked {
  background-color: var(--add-btn-color) !important;
  border-color: var(--add-btn-color) !important;
}

#online-survey {
  transform: scale(1.3) !important;
}

#online-survey:disabled {
  opacity: 1;
}

.program-img {
  height: 10rem;
  width: 10rem;
}

.pac-container {
  z-index: 1060 !important;
}


@media (max-width: 1070px) {
  .block-sidebar {
    display: none;
  }

  #toggle-sidebar2 {
    display: block;
  }

  #toggle-sidebar {
    display: none;
  }

  .sidebar-close {
    display: block;
  }
}