:root {
  --main-theme-color: #0E2C15;
}

input[type="password"]::-ms-reveal {
  display: none;
}

.admin-auth-bg {
  height: 100vh;
  position: relative;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../images/welcome-bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
}

:root {
  --header-bg: #0E2C15;
  --main-color: #BD00FF;
  --links-color: #0000FF;
  --theme-color: #432344;
}

body {
  height: 100vh;
}

.header-bg {
  background-color: var(--header-bg);
}

.login-container {
  min-height: 100vh;
}

.nancayasan-img {
  background-image: url('../../images/welcome-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.back-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.back-btn span {
  font-size: 2rem;
}

.brgy-logo {
  height: 6rem;
  width: 6rem;
}

.forgot-pass {
  text-decoration: none !important;
}

.forgot-pass:hover,
.forgot-pass:active {
  text-decoration: underline !important;
}

.login-btn {
  background-color: var(--theme-color) !important;
  border-color: var(--theme-color) !important;
}

.login-btn:hover {
  opacity: 0.95;
}

.login-btn:active {
  opacity: 0.9;
}

.register-btn {
  border-color: var(--theme-color) !important;
}

.register-btn:hover,
.register-btn:active {
  background-color: var(--theme-color) !important;
  color: #fff !important;
}

.sign-up-link {
  font-size: 0.8rem;
}

.reg-resident-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #E7EEFB;
}

.reg-resident-bg {
  background-image: url('../../images/welcome-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background: rgb(67,35,68);
  background: radial-gradient(circle, rgba(67,35,68,1) 30%, rgba(255,192,61,1) 100%); */
}

.input-labels {
  font-size: 0.85rem;
}

.progress-container {
  width: 90%;
}

.progress {
  --bs-progress-bg: rgb(196, 196, 196);
}

.progress-btn-color {
  background-color: var(--theme-color);
  color: white;
}

.progress-bar {
  background-color: var(--theme-color);
}

.progress-btn {
  transition: all 200ms linear 500ms;
}

#second-progress {
  left: 33% !important;
}

#third-progress {
  left: 66% !important;
}

.loader {
  width: 10px;
  height: 10px;
  border: 1px solid #999999;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.next-btn {
  background-color: var(--theme-color) !important;
  border-color: var(--theme-color);
}

.next-btn:hover,
.next-btn:active,
.next-btn:disabled {
  border-color: var(--theme-color) !important;
}

.privacy-brgy-logo {
  height: 3rem;
}

.privacy-icon {
  margin-bottom: -2.3rem;
}

.privacy-icon > span {
  font-size: 2.5rem;
}

.dropdown-btn {
  background-color: var(--theme-color);
  cursor: pointer;
}

.dropdown-info {
  max-height: 0;
  padding: 0 1rem !important;
  transition: max-height 300ms ease-in, padding 200ms ease-in 300ms;
}

.open {
  max-height: 100rem;
  padding: 1rem !important;
}

.rotate {
  transform: rotate(-90deg);
}


.btn-warning {
  background-color: var(--main-theme-color) !important;
  color: #fff !important;
  border-color: var(--main-theme-color);
  --bs-btn-disabled-border-color: var(--main-theme-color) !important;
}

.btn-warning:hover {
  opacity: 0.95 !important;
  border-color: var(--main-theme-color) !important;
}

.btn-warning:disabled {
  border-color: var(--main-theme-color) !important;
}


@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media (max-width: 1000px){
  .nancayasan-img {
    width: 40% !important;
  }

  .login-form-container {
    width: 60% !important;
  }
}

@media (max-width: 870px){

  .nancayasan-img {
    display: none !important;
  }

  .login-form-container {
    width: 100% !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .login-form-container > div:nth-of-type(1) {
    width: 100% !important;
  }

  .reg-resident-container > div {
    width: 100% !important;
  }

  .reg-resident-bg {
    display: none;
  }

  .privacy-header {
    padding: 1rem 0.5rem !important;
  }

  .privacy-brgy-logo-container {
    margin-bottom: 1.5rem;
  }

  .privacy-brgy-logo {
    height: 2rem;
  }

  .card {
    width: 75% !important;
  }
}

@media (max-width: 520px) {
  .card {
    width: 90% !important;
  }
}