
:root {
  --theme-color: #0E2C15;
}

input[type="password"]::-ms-reveal {
  display: none;
}

span {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.colored-toast.swal2-icon-success {
  background-color: #33a54e !important;
}

.main-color {
  color: var(--theme-color);
}

.sticky-top {
  z-index: 9 !important;
}

.navbar.navbar-wide::after {
  content: 'E-SUPPORT';
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #fff;
  background-color: var(--theme-color);
  height: 50px;
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: -20rem;
  z-index: 10;
  display: none;
}

.backdrop.show-backdrop {
  display: block;
}

.sidebar-btn {
  cursor: pointer;
}

.sidebar {
  width: 230px;
  position: fixed;
  top: 0;
  right: -230px;
  bottom: -20rem;
  z-index: 11;
  transition: right 300ms linear;
}

.sidebar.show-sidebar {
  right: 0;
  overflow: hidden;
}

.sidebar .profile-picture {
  height: 50px;
  width: 50px;
}

.sidebar .sidebar-items {
  list-style: none;
}

.sidebar .sidebar-items a {
  text-decoration: none;
}

.logout-btn {
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.dropdown-menu {
  --bs-dropdown-link-active-color: black;
  --bs-dropdown-link-active-bg: #e0e0e0;
}

/* #jobs-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-shadow: inset 0 -10px 5px black;
} */

/* #jobs-container::-webkit-scrollbar {
  display: none;
}

#scroll-left,
#scroll-right {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 100ms linear;
}

#scroll-left:hover,
#scroll-right:hover {
  height: 42px;
  width: 42px;
} */

/* .job-cards {
  min-width: 20rem; 
  width: 20rem;
  max-width: 20rem;
  max-height: 10rem;
  height: 10rem;
  min-height: 10rem;
} */

/* .job-cards > div > div:first-child {
  width: 40%;
}

.job-cards > div > div:last-child {
  width: 60%;
} */

/* .job-card-img {
  object-fit: scale-down !important;
} */

.place-icon {
  display: grid;
  place-items: center;
  height: 40px;
  width: 40px;
}

.docs-card,
.requested-docs-card {
  width: 24rem;
  min-width: 18rem;
}

.even-requested-docs-card-body {
  min-height: 9.5rem !important;
}

.docs-form-header {
  background-color: var(--theme-color);
}

.docs-form-header > div {
  height: 50px;
  width: 50px;
}

.docs-form-header > div > span {
  color: var(--theme-color);
}

label[for="proof"] {
  font-size: 13px;
}

.biz-clearance-form > button,
.biz-clearance-form > div:last-child > button,
.add-report-btn {
  background-color: var(--theme-color);
}

.biz-clearance-form > button:hover,
.add-report-btn:hover {
  background-color: var(--theme-color);
}

.biz-clearance-form > .btn,
.biz-clearance-form > div:last-child > .btn.report-update-btn,
.add-report-btn.btn,
.add-report-btn.btn:active {
  --bs-btn-active-bg: var(--theme-color);
  border-color: var(--theme-color);
}

.req-assistance-btn {
  border-color: var(--theme-color) !important;
}

.requested-docs-tabs {
  cursor: pointer;
}

.even-requested-docs-card-body,
.odd-requested-docs-card-footer {
  background-color: var(--theme-color);
}

.even-requested-docs-card-body.color {
  background-color: initial;
}

.requested-docs-pagination > div > nav {
  display: flex !important;
  flex-direction: column-reverse !important;
  align-items: center !important;
}

.requested-docs-pagination > div > nav > div > p > span {
  font-size: 12px !important;
}

.requested-docs-pagination > div > nav > ul > .active > .page-link {
  background-color: var(--theme-color) !important;
  border-color: var(--theme-color);
  color: #fff;
}

.requested-docs-pagination > div > nav > ul > li > .page-link {
  color: var(--theme-color);
}

.update-profile-btn {
  background-color: var(--theme-color) !important;
  border: none;
}

.update-profile-btn:active {
  opacity: 0.8 !important;
}

.back-btn {
  background-color: var(--theme-color) !important;
  border-color: var(--theme-color) !important;
}

.back-btn:active {
  opacity: 0.7 !important;
}

.back-btn:hover {
  opacity: 0.9 !important;
}

#submit-btn:disabled {
  background-color: var(--theme-color) !important;
}

.progress-container > button:nth-of-type(2) {
  left: 33%;
}

.progress-container > button:nth-of-type(3) {
  left: 66%;
}

.progress-bar {
  background-color: var(--theme-color) !important;
}

.progress-step,
.next-btn {
  background-color: var(--theme-color) !important;
  border-color: var(--theme-color) !important;
}

.progress-step-color {
  transition: background-color 200ms ease-in 500ms;
  background-color: var(--theme-color) !important;
  border-color: var(--theme-color) !important;
}

.to-head {
  animation: toHead 800ms ease-in-out forwards;
}

.from-head-to-wife {
  animation: fromHeadToWife 800ms ease-in-out forwards;
}

.from-members-to-wife {
  animation: fromMembersToWife 800ms ease-in-out forwards;
}

.from-wife-to-members {
  animation: fromWifeToMembers 800ms ease-in-out forwards;
}

.from-others-to-members {
  animation: fromOthersToMembers 800ms ease-in-out forwards;
}

.to-others {
  animation: toOthers 800ms ease-in-out forwards;
}

.family-head,
.wife,
.members,
.others {
  min-width: 100%;
}

.form-height {
  max-height: 5rem !important;
}

.chatbot-circle {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  height: 2.8rem;
  width: 2.8rem;
  background-color: #133d1d;
  cursor: pointer;
  z-index: 4 !important;
}

.hide-chatbot-icon {
  visibility: hidden;
}

.close-chatbot-icon {
  transform: translate(-50%, -50%) rotate(0deg);
  font-size: 1.2rem;
}

.chat-box {
  visibility: hidden;
  height: 0;
  width: 5rem;
  position: fixed;
  bottom: 4.8rem;
  right: 2rem;
  overflow: hidden;
  z-index: 4 !important;
  transition: all 200ms ease-in-out;
}

.chat-box.show {
  visibility: visible;
  height: 25rem;
  width: 20rem;
  position: fixed;
  bottom: 4.8rem;
  right: 2rem;
  z-index: 4 !important;
}

.chat-box > .message-header {
  background-color: var(--theme-color);
  height: 3.5rem;
  width: 100%;
}

.chat-box > .chat-messages {
  height: calc(25rem - (3.5rem + 3rem));
  width: 100%;
}

.chat-box > .chat-messages > div {
  max-width: 100%;
}

.bot-message {
  border-radius: 0.8rem 0.8rem 0.8rem 0;
  background-color: #edf2f7;
  position: relative;
}

.bot-message::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0.5rem 0.5rem 0 0;
  border-color: #edf2f7 transparent transparent transparent;
}

.bot-icon img {
  width: 1.5rem;
}

.my-message {
  border-radius: 0.8rem 0.8rem 0 0.8rem;
  background-color: var(--theme-color);
  position: relative;
}

.my-message::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  right: 0;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 0.5rem 0.5rem 0;
  border-color: transparent var(--theme-color) transparent transparent;
}

.chat-box .message-box {
  height: 3rem;
  width: 100%;
  background-color: #e7e7e7;
}

.chat-box .message-box > textarea {
  border: none;
  width: 90%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  resize: none;
}

.chat-box .message-box > div {
  width: 10%;
  border: none;
  cursor: pointer;
}

.chat-box .message-box > textarea:focus {
  border: none;
  outline: none;
}

.chat-box .message-box > textarea::placeholder {
  font-size: 0.8rem;
  padding-top: 0.15rem;
}


@keyframes toHead {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-125%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fromHeadToWife {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fromMembersToWife {
  0% {
    transform: translateX(-200%);
  }
  25% {
    transform: translateX(-225%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fromWifeToMembers {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes fromOthersToMembers {
  0% {
    transform: translateX(-300%);
  }
  25% {
    transform: translateX(-325%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes toOthers {
  0% {
    transform: translateX(-200%);
  }
  25% {
    transform: translateX(-175%);
  }
  100% {
    transform: translateX(-300%);
  }
}


@media (max-width: 1070px) {
  .place-category {
    justify-content: start !important;
  }
}


@media (max-width: 1105px){
  .fam-profile-main-container,
  .edit-family-profile {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    gap: 3rem;
  }

  .fam-row-3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .fam-row-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .fam-row-3 > div,
  .fam-row-2 > div {
    width: 100%;
  }
}

@media (max-width: 870px){
  .navbar {
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
  }

  .navbar .navbar-brand > span {
    display: initial !important;
  }

  .navbar-hide-items {
    display: none !important;
  }

  .navbar.navbar-wide::after {
    display: none;
  }

  .navbar.navbar-wide::after {
    content: var(--page-name);
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #fff;
    background-color: var(--theme-color);
    height: 50px;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
  }

  /* .navbar.navbar-services::after {
    content: 'SERVICES';
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #fff;
    background-color: var(--theme-color);
    height: 50px;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
  }

  .navbar.navbar-profile::after {
    content: 'PROFILE';
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #fff;
    background-color: var(--theme-color);
    height: 50px;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
  } */

  .sidebar-btn {
    display: initial !important;
  }

  .docs-form-container {
    width: 80% !important;
  }

  .request-report {
    display: none;
  }

  .home-start,
  .home-end,
  .services-start {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }

  .home-middle {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .request-list,
  .report-list {
    padding-bottom: 3rem;
  }

  .docs-card,
  .requested-docs-card {
    width: 22rem;
  }

  .requested-docs-pagination > div > nav > div > p > span {
    font-size: 10px !important;
  }

  .view-report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .back-btn {
    display: block !important;
  }

  .fam-form-container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    width: 100% !important;
  }

  .fam-profile-viewing {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .chatbot-circle {
    bottom: 5rem;
    right: 1.3rem;
  }

  /* .chatbot-circle.move-up {
    bottom: 10rem;
  } */

  .chat-box.show {
    bottom: 9.3rem;
  }

  .services-child {
    display: none;
  }

  .concern-btn {
    display: flex;
    flex-direction: column !important;
    align-items: start !important;
    gap: 1rem !important;
  }

  .send-concern {
    width: 100% !important;
  }

  .home-middle-texts {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
  }
}


@media (max-width: 767px){
  .profile-image-container {
    display: flex;
    gap: 2rem !important;
    flex-direction: column !important;
  }

  .fam-profile-viewing-tab {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .fam-profile-viewing-tab > div {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  .fam-profile-viewing-tab > div > p {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .chat-box.show {
  visibility: visible;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  z-index: 10 !important;
  }

  .chat-messages {
    height: calc(100% - (3.5rem + 3rem)) !important;
  }

  .chatbot-close-btn {
    display: block !important;
  }
  
  .back-btn {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}


@media (max-width: 380px){
  .docs-card,
  .requested-docs-card {
    width: 20rem;
  }
}


@media (max-width: 350px) {
  .docs-card,
  .requested-docs-card {
    width: 18rem;
  }

  .places-card {
    width: 16rem !important;
  }
}

@media (max-width: 250px) {
  .places-card {
    width: 13rem !important;
  }
}


@media (max-width: 730px){
  .home-middle-texts {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
  }

  .home-middle *:not(span) {
    font-size: 14px;
  }
}


@media (min-width: 871px){
  .backdrop {
    display: none !important;
  }

  .sidebar {
    right: -230px !important;
  }

  .services-bot-nav {
    display: none !important;
  }
}