/* body {
  background-color: #E7EEFB;
}

.nav-bg {
  background-color: #432344;
}

.main-container {
  display: flex;
  width: 100%;
  gap: 0.2rem;
}

.block-sidebar {
  min-width: 17rem;
  max-width: 17rem;
  flex-grow: 3;
  transition: margin-left 0.4s ease-out;
}

.sidebar {
  background-color: #432344;
  min-width: 17rem;
  max-width: 17rem;
  flex-grow: 3;
  transition: margin-left 0.4s ease-out;
  position: fixed;
  z-index: 1021;
  top: 0;
  bottom: 0;
}

.sidebar-close {
  display: none;
  position: absolute;
  right: 10px;
  top: -2px;
  cursor: pointer;
}

#toggle-sidebar2 {
  display: none;
}

.scrollbar {
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.right-content {
  flex-grow: 8;
  position: relative;
}

.horizontal-line {
  width: 90%;
} */

/* .sidebar-list {
  height: 50px;
} */

/* .sidebar-navigate {
  height: 50px;
  cursor: pointer;
}

.sidebar-navigate:active {
  opacity: 0.7;
} */

/* .sidebar-navigate:hover {
  background-color: rgba(255, 192, 61, 0.5);
} */

/* .navigate-active {
  background-color: #FFC03D;
}

.logout-btn {
  height: 100%;
}

.sidebar-active {
  margin-left: -17.2rem;
}

.submenu-link {
  position: relative;
}

.submenu-active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.arrow1,
.arrow2,
.arrow3 {
  transition: transform 0.2s;
}

.arrow1.rotate1,
.arrow2.rotate2,
.arrow3.rotate3 {
  transform: rotate(-90deg);
}

.p-submenu,
.u-submenu,
.d-submenu {
  display: none;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #cacaca;
}

.custom-loader {
  position: absolute;
  top: 600%;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#432344 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#432344);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
} */


/* @media (max-width: 490px) {
  .username {
    display: none;
  }
} */

/* @media (max-width: 1070px) {
  .block-sidebar {
    display: none;
  }

  #toggle-sidebar2 {
    display: block;
  }

  #toggle-sidebar {
    display: none;
  }

  .sidebar-close {
    display: block;
  }
}

.request-cards {
  background-color: #FFC03D;
  border-radius: 10px;
}

.request-cards > div > div:first-child > span {
  color: #FFC03D;
}

.request-cards > div > div:first-child {
  background-color: #432344;
  height: 60px;
  width: 60px;
}

.request-cards > div > a {
  background-color: #432344;
  border: none;
}

.request-cards > div > .btn:hover {
  background-color: #613463;
  border: none;
}

.report-header {
  height: 100px;
  width: 95%;
}

.report-form {
  margin-top: -50px;
  width: 90%;
} */



:root {
  --theme-color: #0E2C15;
}

.sticky-top {
  z-index: 9 !important;
}

.navbar.navbar-wide::after {
  content: 'E-SUPPORT';
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #fff;
  background-color: var(--theme-color);
  height: 50px;
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}

.backdrop.show-backdrop {
  display: block;
}

.sidebar-btn {
  cursor: pointer;
}

.sidebar {
  width: 230px;
  position: fixed;
  top: 0;
  right: -230px;
  bottom: 0;
  z-index: 11;
  transition: right 300ms linear;
}

.sidebar.show-sidebar {
  right: 0;
}

.sidebar .profile-picture {
  height: 50px;
  width: 50px;
}

.sidebar .sidebar-items {
  list-style: none;
}

.sidebar .sidebar-items a {
  text-decoration: none;
}

.logout-btn {
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.dropdown-menu {
  --bs-dropdown-link-active-color: black;
  --bs-dropdown-link-active-bg: #e0e0e0;
}

#jobs-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* box-shadow: inset 0 -10px 5px black; */
}

#jobs-container::-webkit-scrollbar {
  display: none;
}

#scroll-left,
#scroll-right {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 100ms linear;
}

#scroll-left:hover,
#scroll-right:hover {
  height: 42px;
  width: 42px;
}

.job-cards {
  min-width: 20rem; 
  width: 20rem;
  max-width: 20rem;
  max-height: 10rem;
  height: 10rem;
  min-height: 10rem;
}

.job-cards > div > div:first-child {
  width: 40%;
}

.job-cards > div > div:last-child {
  width: 60%;
}

.place-icon {
  display: grid;
  place-items: center;
  height: 40px;
  width: 40px;
}

.docs-card,
.requested-docs-card {
  width: 24rem;
  min-width: 18rem;
}

.even-requested-docs-card-body {
  min-height: 9.5rem !important;
}

.docs-form-header {
  background-color: var(--theme-color);
}

.docs-form-header > div {
  height: 50px;
  width: 50px;
}

.docs-form-header > div > span {
  color: var(--theme-color);
}

label[for="proof"] {
  font-size: 13px;
}

.biz-clearance-form > button,
.biz-clearance-form > div:last-child > button,
.add-report-btn {
  background-color: var(--theme-color);
}

.biz-clearance-form > button:hover,
.add-report-btn:hover {
  background-color: var(--theme-color);

}

.biz-clearance-form > .btn,
.biz-clearance-form > div:last-child > .btn.report-update-btn,
.add-report-btn.btn {
  --bs-btn-active-bg: var(--theme-color);
  border: none;
}

.requested-docs-tabs {
  cursor: pointer;
}

.even-requested-docs-card-body,
.odd-requested-docs-card-footer {
  background-color: var(--theme-color);
}

.even-requested-docs-card-body.color {
  background-color: initial;
}

.requested-docs-pagination > div > nav {
  display: flex !important;
  flex-direction: column-reverse !important;
  align-items: center !important;
}

.requested-docs-pagination > div > nav > div > p > span {
  font-size: 12px !important;
}

.requested-docs-pagination > div > nav > ul > .active > .page-link {
  background-color: var(--theme-color) !important;
  border-color: var(--theme-color);
  color: #fff;
}

.requested-docs-pagination > div > nav > ul > li > .page-link {
  color: var(--theme-color);
}


@media (max-width: 870px){
  .navbar {
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
  }

  .navbar .navbar-brand > span {
    display: initial !important;
  }

  .navbar-hide-items {
    display: none !important;
  }

  .navbar.navbar-wide::after {
    display: none;
  }

  .navbar.navbar-home::after {
    content: 'HOME';
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #fff;
    background-color: var(--theme-color);
    height: 50px;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
  }

  .navbar.navbar-services::after {
    content: 'SERVICES';
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #fff;
    background-color: var(--theme-color);
    height: 50px;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
  }

  .navbar.navbar-profile::after {
    content: 'PROFILE';
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #fff;
    background-color: var(--theme-color);
    height: 50px;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
  }

  .sidebar-btn {
    display: initial !important;
  }

  .docs-form-container {
    width: 80% !important;
  }

  .home-start,
  .home-end,
  .services-start {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }

  .home-middle {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .docs-card,
  .requested-docs-card {
    width: 22rem;
  }

  .requested-docs-pagination > div > nav > div > p > span {
    font-size: 10px !important;
  }

  .view-report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .back-btn {
    display: block !important;
  }
}


@media (max-width: 730px){
  .home-middle-texts {
    display: block !important;
  }

  .home-middle *:not(span) {
    font-size: 14px;
  }
}


@media (min-width: 871px){
  .backdrop {
    display: none !important;
  }

  .sidebar {
    right: -230px !important;
  }
}