.doc-font-family,
h5,
h3 {
  font-family: 'Times New Roman', Times, serif;
}

.confirm-fs {
  font-size: 1rem;
}

.modal-close-icon {
  cursor: pointer;
}

body {
  padding: 2rem 0;
}

p {
  font-size: 20px;
}

.print-btn {
  background-color: #432344 !important;
  border: none !important;
}

.print-btn:hover {
  background-color: #351c36 !important;
}

footer p {
  font-size: 16px;
}

.heading-container {
  position: relative;
}

.heading-container > div:first-child,
.heading-container > div:last-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.heading-container > div:first-child {
  left: 125px;
}

.heading-container > div:last-child {
  right: 115px;
}

.thumbmark {
  height: 140px;
}

@media print {
  @page {
    margin: 0 !important;
    padding: 0 !important;
    size: portrait;
  }

  body {
    padding: 0 !important;
  }

  body.bg-light {
    background-color: #ffffff !important;
  }

  body * {
    visibility: hidden !important;
  }

  p {
    font-size: 16px !important;
  }

  header {
    margin-top: 0 !important;
  }

  .printing-file {
    width: 100% !important;
    border: none !important;
    box-shadow: none !important;
  }

  .printing-file,
  .printing-file * {
    visibility: visible !important;
  }

  .heading-container > div:first-child {
    left: 80px;
  }
  
  .heading-container > div:last-child {
    right: 70px;
  }

  /* body *:not(.printing-file):not(.printing-file *) {
    visibility: hidden;
  }

  .printing-file {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
  } */
}