:root {
  font-size: 15px;
  --main-theme-color: #0E2C15;
}

.print-btn {
  background-color: #432344 !important;
  border: none !important;
}

.print-btn:hover {
  background-color: #351c36 !important;
}

.modal-close-icon {
  cursor: pointer;
}

.document-body {
  position: relative;
  min-height: 720px;
}

.document-body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../images/logos/bamboo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transform: scaleX(-1);
  opacity: 0.3;
}

.section {
  width: 35%;
  border-right: 5px solid rgb(180, 2, 2);
  padding-bottom: 100px;
}

.main {
  width: 65%;
}

.footer-container {
  transform: rotate(180deg);
  margin-top: -150px;
}

.wrapper {
  position: relative;
  transform: skewY(-9deg);
  top: -90px;
}

.footer-wrapper {
  position: relative;
  transform: skewY(-9deg);
  top: -90px;
}

.decoration {
  background-color: rgb(147, 180, 1);
  height: 200px;
  width: 100%;
}

.decoration::before {
  content: '';
  background-color: green;
  height: 100px;
  width: 90%;
  transform: translateX(-50%);
  position: absolute;
  top: 115px;
  left: 50%;
  z-index: -1;
}

.decoration::after {
  content: '';
  background-color: rgb(180, 2, 2);
  height: 100px;
  width: 80%;
  transform: translateX(-50%);
  position: absolute;
  top: 125px;
  left: 50%;
  z-index: -2;
}

.brgy-logo {
  height: 130px;
  width: 130px;
  position: absolute;
  top: 13px;
  left: 30px;
}

.separator {
  border-left: 1px solid black;
  height: 110px;
  width: 1px;
  position: absolute;
  top: 20px;
  left: 168px;
}

.header-text {
  position: absolute;
  top: 20px;
  left: 180px;
}

h5 {
  font-weight: 300;
  margin-bottom: -5px;
}

.lower-header {
  margin-top: -30px;
}

.footer-text-container {
  transform: rotate(180deg);
  position: absolute;
  top: 40px;
  left: 30px;
}

.foorter-brgy-captain {
  text-decoration: overline;
}

.note-text {
  transform: rotate(180deg);
  position: absolute;
  font-size: 13px;
  top: -2px;
  right: 0;
}

.btn-warning,
.btn-success {
  background-color: var(--main-theme-color) !important;
  color: #fff !important;
  border-color: var(--main-theme-color);
  --bs-btn-disabled-border-color: var(--main-theme-color) !important;
}

.btn-warning,
.btn-success:hover {
  opacity: 0.95 !important;
  border-color: var(--main-theme-color) !important;
}

.btn-warning,
.btn-success:disabled {
  border-color: var(--main-theme-color) !important;
}

@media print {
  @page {
    margin: 0;
    padding: 0;
    size: portrait;
  }

  .doc-container {
    padding: 0 !important;
  }

  body {
    padding: 0 !important;
  }

  body * {
    visibility: hidden;
  }

  .printing-file {
    box-shadow: none !important;
  }

  .printing-file,
  .printing-file * {
    visibility: visible;
  }
}