:root {
  --main-theme-color: #0E2C15;
}

*, 
*::after, 
*::before {
  box-sizing: border-box;
}

.btn-primary {
  background-color: var(--main-theme-color) !important;
  color: #fff !important;
  border-color: var(--main-theme-color);
  --bs-btn-disabled-border-color: var(--main-theme-color) !important;
}

.btn-primary:hover {
  opacity: 0.95 !important;
  border-color: var(--main-theme-color) !important;
}

.btn-primary:disabled {
  border-color: var(--main-theme-color) !important;
}

header > div:nth-child(2) > div > img {
  height: 9rem;
  position: absolute;
  top: -3rem;
  left: -12rem;
}

.serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media print {
  @page {
    padding: 0 !important;
    margin: 0 !important;
    size: landscape;
  }

  body {
    padding: 0 !important;
    margin: 0 !important;
  }

  body {
    visibility: hidden !important;
  }

  .print-file,
  .print-file * {
    visibility: visible !important;
  }

  .print-btn-container {
    display: none !important;
  }

  .container {
    width: 100% !important;
  }

  table {
    font-size: 14px !important;
  }
}