.account-header {
  background-color: #EBF3E8 !important;
}

.account-header {
  height: 100px; 
  width: 90%;
}

.account-details {
  margin-top: -3.5rem;
  width: 85%;
}

.edit-username-icon,
.edit-email-icon,
.edit-password-icon {
  cursor: pointer;
}

.change-password {
  font-size: 1rem;
}

.colored-toast.swal2-icon-success {
  background-color: #33a54e !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}